@font-face {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  src:
    local('Gilroy'),
    url(./fonts/Gilroy/Gilroy-Medium.woff2),
    url(./fonts/Gilroy/Gilroy-Medium.woff);
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  src:
    local('Gilroy'),
    url(./fonts/Gilroy/Gilroy-Semibold.woff2),
    url(./fonts/Gilroy/Gilroy-Semibold.woff);
}