// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

@font-face {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  src:
    local('Gilroy'),
    url(./fonts/Gilroy/Gilroy-Medium.woff2),
    url(./fonts/Gilroy/Gilroy-Medium.woff);
}