$color-general-green: #A8FD32;
$color-general-dark: #1C1C1C;
$color-general-white: #ffffff;
$color-general-black: #080908;

$color-text-primary-light: #1C1C1C;
$color-text-secondary: #818181;
$color-text-primary-dark: #ffffff;

$color-stroke-light: #171717;
$color-stroke-dark: #2B2B2B;

$color-bg-dark: #171717;
$color-bg-light: #F6F6F6;

$color-text-burger: #292929;
$color-border: #484848;
$color-divider: #E8E8E8;
$color-orange: #FD7222;
$color-hover-bg: #454545;

$font-body: 500 16px/1.35 "Gilroy", sans-serif;
$font-h1-gilroy: 500 96px/0.85 "Gilroy", sans-serif;
$font-h1-playfair: 500 96px/0.85 "Playfair Display", serif;
$font-card-title-gilroy: 500 48px/0.92 "Gilroy", sans-serif;
$font-card-title-playfair: 500 48px/0.92 "Playfair Display", serif;
$font-h3-gilroy: 500 32px/1 "Gilroy", sans-serif;
$font-small-gilroy: 500 12px/1.25 "Gilroy", sans-serif;
$font-small-playfair: 500 16px/1 "Playfair Display", serif;
$font-button: 600 18px "Gilroy", sans-serif;